* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Heebo', sans-serif;
}

:root {
    --corPrimaria: #166b8d;
    --brancoPadrao: #fff;
}

body {
    background-color: var(--corPrimaria);
}

.container {
    margin: 3rem auto;
    background-color: var(--brancoPadrao);
    max-width: 44rem;
    padding: 1rem;
    border-radius: 0.2rem;
    border: 0.1rem black solid;
}

form,
label,
input,
button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

input,
button {
    height: 3rem;
    font-size: 1.5rem;
}

button{
    padding: 0;
}

input:hover {
    transition: 0.2s all ease-in-out;
    background-color: rgb(24, 99, 36);
    border: solid 0.2rem black;
    border-radius: 0.5rem;
    color: var(--brancoPadrao);
}

input:active {
    background-color: rgb(66, 30, 102);
}

input:hover::placeholder{
    color: var(--brancoPadrao);
    opacity: 0.8;
}

button:hover {
    transition: 0.2s;
    background-color: darkgreen;
    color: var(--brancoPadrao);
    border-radius: 0.2rem;
    border: solid black 0.2rem;
}

button:active {
    background-color: darkred;
}

form {
    font-size: 1.2rem;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 2rem;
    height: 1rem;
}

.titulo{
    display: block;
    margin: 0;
    width: 100%;
    height: 3.4rem;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.4rem;
}

p {
    margin: 0;
    font-size: 1.2rem;
    width: 50%;
    text-align: left;
}

.valores{
    border: 0.12rem grey solid;
    border-radius: 0.3rem;
}

.ajusteDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}


.imc {
    float: left;
}

.resultado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultImc {
    
    width: 100%;
    height: 3rem;
    display: flex;
    background-color: var(--corPrimaria);
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

.resultImc p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: var(--brancoPadrao);
    font-size: 1.5rem;
    width: 100%;
}

.invalidoCalc{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--brancoPadrao);
    transition: 0.2s all ease-in-out;
    background-color: darkred;
}
